html, body { height: 100%; }
.container-full {
  margin: 0 auto;
  width: 100%;
}
.header {
  background-color: #F0F0F0;
}
.header img {
  max-height: 59px;
  margin: 22px 0 22px 10px;
}
.wrap-login {
  background: url("../img/login-bg.jpg") no-repeat center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 100%;
  overflow-x: hidden;
}
.login-splash h2 {
  color: #FFFFFF;
  font-family: 'open_sansregular';
  font-size: 28px;
  line-height: 33px;
  margin-top: 0px;
}
.login-content {
  padding-top: 115px;
}
.signin, .signup {
  background-color: #F0F0F0;
  margin-bottom: 15px;
}
.signin form, .signup {
  padding:10px;
}
.signin input {
  margin-bottom:10px;
}
.signin button, .signup button {
  margin-top: 20px;
}
.row {
  padding: 0 15px;
}
.modal-body .checkbox.last {
  margin-bottom:20px;
}
input.error {
  border: 3px solid #b94a48;
}
div.error-message {
  color: #b94a48;
  margin-bottom:8px;
}
.container.authorization {
  margin-top:20px;
}
.user-nav h5, .user-nav h6
{
  text-align: right;
  margin-right:10px;
}
html .user-nav h6
{
  font-size: 10px;
  padding-top:10px;
  margin-bottom: 3px;
}
html .user-nav h5
{
  font-size: 16px;
  font-weight: 400;
  margin-top: 5px;
  margin-bottom: 5px;
}


/* TODO - REMOVE */
.red { background-color: red; }
.green { background-color: green; }
.blue { background-color: blue; }
