html, body { height: 100%; }
.container-full {
  margin: 0 auto;
  width: 100%;
}
.header {
  background-color: #F0F0F0;
}
.header img {
  max-height: 59px;
  margin: 24px 0 24px 10px;
}
.wrap-login {
  background: url("../img/login-bg.jpg") no-repeat center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 100%;
  overflow-x: hidden;
}
.login-splash h2 {
  color: #FFFFFF;
  font-family: 'open_sansregular';
  font-size: 28px;
  line-height: 33px;
  margin-top: 0px;
}
.login-content {
  padding-top: 115px;
}
.signin, .signup {
  background-color: #F0F0F0;
  margin-bottom: 15px;
}
.signin form, .signup {
  padding:10px;
}
.signin input {
  margin-bottom:10px;
}
.signin button, .signup button {
  margin-top: 20px;
}
.row {
  padding: 0 15px;
}

/* TODO - REMOVE */
.red { background-color: red; }
.green { background-color: green; }
.blue { background-color: blue; }
