.container.authorization {
  margin-top:20px;
}

.public-warning {
  font-style: italic;
  margin-bottom: 20px;  
  display: block; 
}

.asterisk {
  color: #ed9c28;
}

#steps-wrap {
  margin-left: 10px;
}

#steps-wrap:after {
  clear: both;
}

#steps-wrap:before, #steps-wrap:after {
  display: table;
  content: " ";
}

.steps-nav {
  float: left;
}

ul.steps {
  margin: 10px auto 0px;
  -webkit-padding-start: 0px;
}

ul.steps li {
  width: 2em;
  height: 2em;
  text-align: center;
  line-height: 2em;
  border-radius: 1em;
  background: #ccc;
  margin: 10px 0px;
  color: white;
  font-size: 28px;
}

ul.steps li.active {
  background: #20B2FF;
}
ul.steps li.active ~ li {
  background: #ccc;
}

ul.step-titles {
  margin: 0px auto;
  -webkit-padding-start: 0px;
}

ul.step-titles li {
  width: 6em;
  text-align: left;
  vertical-align: text-top;
  line-height: 1.13em;
  color: #ccc;
  margin: 35px 2.5em;
  display: block;
  font-size: 18px;
}

ul.step-titles li.active {
  color:#2a6496;
}
ul.step-titles li.active ~ li
{
  color:#ccc;
}

#create_profile_form .btn-link {
  color: #b0232a;
}

#create_profile_form .btn-link:hover {
  text-decoration: none;
  color: #005580;
}

#create_profile_form a.add-another-kp, 
#create_profile_form a.add-another-photo,
#create_profile_form a.add-another-presentation,
#create_profile_form a.add-another-publication,
#create_profile_form a.add-another-award,
#create_profile_form a.add-fs-additional {
  text-decoration: none;
  /*color: inherit;*/
  margin-left: 20px;
}

/*a.add-fs-additional { font-weight: 700; }
*/
.innovator-type-extras input, .innovator-type-extras select, .innovator-type-extras label {
  margin-left: 10px;
  margin-right: -10px;
}

label.sub-radio-label { margin-left: -5px; }
label.radio-label { font-weight: bold; margin-left: 10px; }
#create_profile_form label.radio-label input { margin-left: -10px; }
#create_profile_form label.sub-radio-label input { margin-left: -25px; }
#create_profile_form div.form-group.form-group-label { margin-bottom: 0px; }
#tech_description_charcount { text-align: right; }
#profile-step-2 .bootstrap-select { margin-left: -15px; }
#create_profile_form input[type=submit] { margin: 10px 0px 20px; } 
#create_profile_form .profile-next { text-align: right; }
#create_profile_form .profile-next input.step1 { margin-right: 12px; }
#create_profile_form .terms { margin-left: 0px; }
#create_profile_form ul.tagit {
  background: #fff;
  border-radius: 4px;
  margin-right: 10px;
}
.organization-logo { margin-left: 10px; margin-top: 10px; }
.keyperson-logo { margin-bottom: 10px; }
.photo-photo { margin-bottom: 10px; }

div.row.my-profiles-new {
  margin-top: 20px;
  font-size: 20px; 
  font-weight: 400;
}

div.my-profiles {
  margin-top: 20px;
}

img.my-profiles {
  max-width: 160px;
}

div.my-profile {
  margin-top: 30px;
  margin-bottom: 30px;
}

.add-secondary-editor { 
  margin-top: 5px; 
}

.secondary-editors .alert { 
  padding: 0px; 
}

/* marketplace */

.marketplace {
  margin:20px;
}

.marketplace h2 {
  text-align: center;
}

.marketplace .panel-body h5 {
  font-size: 16px;
  font-weight: 700;
}
.marketplace a.icon span {
  font-size: 20px;
  font-weight: 500;
}

.marketplace .panel {
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.collapse-line 
{
  width: 46%; 
  float: left;
}
.collapse-control {
  width: 100%;
  /*width: 8%;*/
  float: left;
  text-align: center;
  margin-top: -10px;
}

.collapse-control a:hover {
  color: #ed9c28;
}

.search-input {
  margin-bottom:20px;
}

.marketplace-result {
  /* background: #D0D0D0; */
  margin: 10px 20px;
  padding: 20px 0px;
  border: solid 1px #ccc;
  border-radius: 5px;
}

.marketplace-result .kp-name { margin-top: 7px; }
.marketplace-result div:first-child { margin-right: 35px; }
.marketplace-result-img { width: 100px; margin-top: 10px; }
.marketplace-result a.title { font-size: 18px; font-weight: 500; }
.marketplace-result h5 { font-size: 18px; font-weight: 500; }

/* pagination */
.pagination { margin: 0px; }
.pagination ul li { display: inline; }
.pagination ul li .btn { margin-left: 1px; margin-right: 1px; }
.pagination ul { margin-bottom: 0px; padding-left: 4px; }

/* single profile */
div.profile-wrap {
  margin-top:40px;
  margin-left: 20px; margin-right: 20px;
}

div.profile-top {
  background: #F0F0F0;
  border: 2px solid #000;
  border-bottom: 1px solid #000;
}

div.profile-top-cell {
  border-right: 2px solid #000;
  border-left: 2px solid #000;
  min-height: 239px;
}

div.profile-body {
  border: 2px solid #000;
  border-top: 1px solid #000;
  padding-top: 10px; 
}

div.profile-body-cell {
  background: #F0F0F0;
  margin: 15px 0px;
}

div.profile-tabs .nav {
  margin-top: 10px;
}

.tab-content { 
  margin-bottom: 20px;
  background: #F0F0F0;
}
.nav-tabs a {
  font-size: 14px;
  color: #000;
}

.nav-tabs>li {
  margin-bottom: -11px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  background: #F0F0F0;
  outline: 0;
}

.tab-pane {
  padding-top: 10px;
}

html .btn-warning {
  white-space: normal;
  min-height: 50px;
}


/* errors */
.error-icon { display: block; margin: 80px auto; }
.error-text { text-align: center; font-size: 24px; font-weight: 700; }
.error-text a { color: #560812; }


