#motionry .wrap {
  background: url("../img/login-bg.jpg") no-repeat center fixed;
  background-size: cover;
  height: 100%;
}
#page2 .wrap {
  height: 100%;
  background: #4B8CB2;
}
#page3 .wrap {
  min-height: 100%;
  height: auto !important;
  margin: 0 auto -120px;
  background: #FFF;
}
img.logo { margin-top: 40px; }
.navlinks { font-size: 24px; margin-top: 40px; }
.navlinks ul, .footer ul { list-style-type: none; margin: 0; padding: 0; }
.navlinks ul li, .footer ul li { display: inline; margin: 0 15px; }
.navlinks ul li:first-child, .footer ul li:first-child { margin-left: 0px; }
.navlinks ul li:last-child, .footer ul li:last-child { margin-right: 0px; }
.navlinks a { color: #FFF; }
.navlinks a:hover { text-decoration: none; }
.title-login { margin-top: 150px; }
.title-login h1 { color: #FFF; margin-top: 30px; }
.signin, .signup { background-color: #FFF; margin-bottom: 15px; }
.signin form, .signup { padding:10px 20px 30px; }
.signin input { margin-bottom:10px; }
.signin button.btn-primary { float: right; }
.login-or-signup { padding: 15px 0px 0px; margin: 0px 20px; border-bottom: 1px solid #428bca; color: #bababa; }
.login-or-signup button { padding: 0px; margin-bottom: 2px; font-weight: 700; }
.login-or-signup button:hover { text-decoration: none; color: #ed9c2b; }
.login-or-signup .login-msg { color: #7e7e7e; font-weight: 700; }
a.forgot { color: #7e7e7e; font-size: 11px; }
a.forgot:hover { text-decoration: none; color: #ed9c2b; }
.error-message { color: #a94442; font-size: 12px; margin-bottom: 5px; }
div.arrow-down { position: absolute; bottom: 0; left: 50%; margin-left: -45px; }
div.arrow-down a { color: #FFF; font-size: 30px; }
div.arrow-down a span { margin-left: 27px; }
div.arrow-down span.scroll-down { color: #FFF; font-size: 16px; margin-right: 55px; }
div.arrow-down > div { text-align: center; }
#page2 { text-align: center; }
#page2 h2 { color: #FFF; margin-top: 80px; }
#page2 img { display: block; margin: 0 auto; max-width: 850px; margin-top: 80px; }
.our-story { text-align: center; border-bottom: #7e7e7e solid 2px; }
.our-story h2 { color: #204a72; margin-top: 80px; font-size: 30px; margin-bottom: 20px; }
.our-story-desc { margin-top: 40px; }
.our-story-desc p { color: #204a72; font-size: 26px; padding: 8px 0px; }
.footer { background: #204A72;  height: 120px; }
.footer ul.bottom-nav { margin-top: 40px; }
.footer ul.social { margin-top: 30px; }
.footer ul li a { color: #fff; font-size: 18px; }
.footer .copy { color: #4B8CB2; }
.thanks { margin-top: 13px; }

/**********************/
/*.title {*/
  /*width:100%;*/
  /*height:100px;*/
  /*position:absolute;*/
  /*top:0;*/
  /*bottom:0;*/
  /*left:0;*/
  /*right:0;*/
  /*margin:auto;*/
  /*text-align: center;*/
/*}*/
/*.title h1 {*/
  /*color: #FFF;*/
  /*font-size: 40px;*/
/*}*/
/**********************/



/*html .controlArrow { display: none; }*/
html .btn-primary:hover,
html .btn-primary:focus,
html .btn-primary:active,
html .btn-primary.active,
html .open .dropdown-toggle.btn-primary,
html .btn-default:hover,
html .btn-default:focus,
html .btn-default:active,
html .btn-default.active,
html .open .dropdown-toggle.btn-default {
  color: #ffffff;
  background-color: #ed9c28;
  border-color: #d58512;
}
html .modal-body { padding-bottom: 0px; padding-top: 0px; }
