body {
  background: url("../img/landing-bg.jpg") no-repeat center fixed;
  background-size: cover;
}
body.password-reset {
  background: #bfbfbf;
}
body.sign-in {
  background: #f5f5f5;
}


img.logo { margin-top: 40px; }
.navlinks { font-size: 24px; margin-top: 40px; }
.navlinks ul, .footer ul { list-style-type: none; margin: 0; padding: 0; }
.navlinks ul li, .footer ul li { display: inline; margin: 0 15px; }
.navlinks ul li:first-child, .footer ul li:first-child { margin-left: 0px; }
.navlinks ul li:last-child, .footer ul li:last-child { margin-right: 0px; }
.navlinks a { color: #FFF; }
.navlinks a:hover { text-decoration: none; color: #ed9c28; }
.navlinks img { max-height: 22px; margin-bottom: 5px; }
.title-login {text-align: center; }
.title-login.visible-xs { margin-top: 50px; }
.title-login.visible-sm { margin-top: 80px; }
.title-login.visible-lg, .title-login.visible-md { margin-top: 120px; }
.title-login h1 { color: #FFF; margin-top: 30px; font-size: 30px; font-weight: 300; }
.title-login h2 { color: #FFF; margin-top: 20px; font-size: 20px; font-weight: 300; line-height: 28px; }
.title-login button { width: 250px; margin-top: 20px; }
.title-login-mini { margin-top: 10px; }
.title-login-mini h1 { color: #FFF; margin-top: 5px; font-size: 18px; }
.signin, .signup { background-color: #FFF; margin-bottom: 15px; }
.signin form, .signup { padding:10px 20px 30px; }
.signin input { margin-bottom:10px; }
.signin button.btn-primary { float: right; }
.login-or-signup { text-align: center; padding: 15px 0px 0px; margin: 0px 20px; border-bottom: 1px solid #428bca; color: #bababa; }
.login-or-signup button { padding: 0px; margin-bottom: 2px; font-weight: 700; }
.login-or-signup button:hover { text-decoration: none; color: #ed9c2b; }
.login-or-signup .login-msg { color: #7e7e7e; font-weight: 700; }
html hr { background-color: #428bca; height: 3px; }
a.forgot { color: #428bca; font-size: 11px; }
a.forgot:hover { text-decoration: none; color: #ed9c2b; }
.error-message { color: #a94442; font-size: 12px; margin-bottom: 5px; }
div.copy { position: absolute; bottom: 0; color: #FFF; text-align: left; }
.thanks, .forgot, .email { margin-top: 13px; }
.forgot .form-group { margin-top: 10px; }
button.password { float: right; }
#password_reset_form { background: #FFF; padding: 20px 20px 50px; margin-bottom: 15px; }
.password-reset h2 { font-size: 18px; }

/* mobile */
.mini-nav { margin-top: 45px; }
.mini-nav button { font-size: 18px; padding: 5px; padding-top: 0px; padding-bottom: 0px; }
.visible-sm iframe#twitter-widget-1, .visible-xs iframe#twitter-widget-1 { margin-left: 19px; margin-top: 7px; }


/* overrides */
iframe#twitter-widget-0 { margin-bottom: -3px; }
html .onepage-pagination li a.active:before {
  border-color: #ed9c28; 
  border-width: 2px;
  left: 9px;
  margin-top: 0px;
}
html .onepage-pagination li a:before {
  background-color: #ed9c28;
  width: 8px;
  height: 8px;
}
html .onepage-pagination li a{
  width: 8px;
  height: 8px;
}
html .btn-primary:hover,
html .btn-primary:focus,
html .btn-primary:active,
html .btn-primary.active,
html .open .dropdown-toggle.btn-primary,
html .btn-default:hover,
html .btn-default:focus,
html .btn-default:active,
html .btn-default.active,
html .open .dropdown-toggle.btn-default {
  color: #ffffff;
  background-color: #ed9c28;
  border-color: #d58512;
}
html .modal-body { padding-bottom: 0px; padding-top: 0px; }

@media (max-width: 992px) {
    div.copy { position: relative; }
}
