<IfModule mod_rewrite.c>
    Options -MultiViews
    RewriteEngine On

  RewriteRule ^blog$ http://blog.motionry.com/ [R=301,L,QSA]
  RewriteRule ^blog/(.*) http://blog.motionry.com/blog/$1 [R=301,L,QSA]

	RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

